doctype
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
		title slide mene transition
		link(type="text/css" rel="stylesheet" href="content/css/style.css")
		link(type="text/css" rel="stylesheet" href="content/css/base.css")
		link(type="text/css" rel="stylesheet" href="content/font/stylesheet.css")
	body 
		nav(class="menu slide-menu-left")
			ul
				li 
					button(class="close-menu") &larr; Close
				li 
					a(href="#") Braccoli
				li
					a(href="#") Tomato
				li
					a(href="#") Cucumber
				li
					a(href="#") Kale
				li
					a(href="#") garlic 
		nav(class="menu push-menu-left")
			ul
				li 
					button(class="close-menu") &larr; Close
				li 
					a(href="#") Braccoli
				li
					a(href="#") Tomato
				li
					a(href="#") Cucumber
				li
					a(href="#") Kale
				li
					a(href="#") garlic
		#wrapper
			.info-bar
				.container
			header
				.brading
					.container.clearfix
						.logo
							img
						.name purit chokeutsaha
						.social
				.site-title
					.container
						h1 My home pages.

			#main
				.container
					.buttons
						button(class="nav-toggler toggle-slide-left") Slide Left
						button(class="nav-toggler toggle-push-left") push Left
				section(class="content")
					h1 Vegetables
					p Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.
					p Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.
			footer
		script(src="content/js/classie.js")
		script(src="content/js/nav.js")


